.time__digital
  body {
    font-size 5em
  }
  &__time
    font normal normal 400 5rem "Raleway", sans-serif
  &__date
    font normal normal 400 3vmin "Raleway", sans-serif

  &__centered
    position absolute

    top  50%
    width 100%
    left 0
    transform translateY(-50%)
    text-align center

    background-color transparent

  &__info
    display block
    position relative

    top 55%
    left 0

    width 100%

    text-align center

    font-size 2vmin

  &__indicator
    display block
    position relative

    top 20%
    left 0

    width 100%

    text-align center

    font-size 3vmin

    opacity 0.4

  &__current
    display block
    position relative
